// FONTS
%tiktok-sans {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
}

%roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

%roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
%stack-sans-notch {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
%lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
// COLORS
$Primary-Cards-light: #f0f0f0;
$Primary-Cards-light-hover: #d2d2d2ec;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @extend %roboto;
  font-size: 1rem;
  font-weight: 400;
}
// NAVBAR
.navigation {
  position: sticky;
  top: 0;
}
.navbar {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.n-logo-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.1rem;
}
.nav-logo {
  width: 35px;
  height: 35px;
}
.n-l-t-c {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
}
.nav-logo-name {
  font-size: 1.1rem;
  font-weight: 500;
  @extend %roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-transform: uppercase;
}
.nav-logo-subname {
  font-size: 0.9rem;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items {
  display: flex;
  list-style-type: none;
  justify-content: start;
  align-items: center;
  margin-left: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.nav-lists {
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.nav-toggle-btns {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-toggle-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 0.5rem;
}
.nav-lists-t {
  font-size: 1rem;
  font-size: 400;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.nav-toggle {
  // color: ;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-toggle i {
  font-size: 1.5rem;
}
.nav-toggle.main {
  display: none;
}
// SIDEBAR
.sidebar {
  width: 350px;
  height: 100vh;
  position: fixed;
  right: 0;
  // top: 0;
  padding: 1rem;
  transform: translateX(120%);
  transition: 0.5s all ease-in-out;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: none;
}
.sidebar.open {
  transform: translateX(0);
}
.side-items {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 0.5rem;
  list-style: none;
  gap: 0.3rem;
}
.side-lists {
  width: 100%;
  padding: 1rem 0;
  padding-left: 0.7rem;
  border-radius: 5px;
  background-color: $Primary-Cards-light;
  transition: 0.2s all ease-in-out;
}
.side-lists:hover {
  background-color: $Primary-Cards-light-hover;
}
@media only screen and (max-width: 768px) {
  .nav-lists-t {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .nav-toggle.main {
    display: inline;
  }
  .sidebar {
    display: inline;
  }
}
@media only screen and (max-width: 415px) {
  .sidebar {
    width: 100%;
  }
}
// Task Configration
.task-up-contain {
  // height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-up-cover {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
}
.heading-task {
  font-size: 1.5rem;
  font-weight: 600;
  @extend %tiktok-sans;
}
.task-form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 800px;
  padding: 1rem;
  outline: 0.1px solid #999;
  border-radius: 10px;
}
.t-inp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  outline: none;
}
.t-inp::placeholder {
  text-transform: capitalize;
  font-weight: 500;
  opacity: 0.8;
}
.t-inp.t {
  padding: 1rem 0;
}
.t-inp-toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}
.t-date {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 5px 15px;
  background-color: #fff;
  border: none;
  outline: 0.1px solid #999;
  border-radius: 5px;
  cursor: pointer;
}
.t-t-l-c {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.t-t-l-c button {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 8px 15px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
.t-t-l-c button:first-child {
  background-color: #f0f0f0;
  color: #111;
}
.t-t-l-c button:last-child {
  background-color: #ff000095;
  color: #fff;
}
.t-low-contain {
  padding: 2rem;
  border-top: 0.1px solid #999;
  margin: 2rem;
  margin-top: 3rem;
}
.t-s-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-t {
  font-size: 1.3rem;
  font-weight: 500;
  @extend %tiktok-sans;
  opacity: 0.7;
}
.t-searchbar {
  padding: 0.5rem;
  border: none;
  outline: 0.1px solid #999;
  border-radius: 5px;
}
// Task items
.tasks-items {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
}
.tasks-m-t {
  padding: 1rem;
  border-radius: 5px;
  background-color: $Primary-Cards-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-m-t:hover {
  background-color: $Primary-Cards-light-hover;
}
.task-t-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.ch-t-btn {
  border: none;
  outline: none;
  background-color: transparent;
}
.ch-t-btn i {
  font-size: 1.5rem;
  cursor: pointer;
}
.t-title {
  font-size: 0.9rem;
  // text-transform: capitalize;
  font-weight: 450;
  opacity: 0.9;
}
.m-t-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.ts-d-d {
  font-size: 0.9rcap;
  margin-right: 2rem;
  padding: 5px 15px;
  background-color: #808080;
  color: #fff;
  border-radius: 5px;
}
.btn-t-ed {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-t-ed i {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-t-ed i:first-child {
  color: green;
}
.btn-t-ed.d i:last-child {
  color: red;
}
// Task ---Details Modal
.tc-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tc-box {
  width: 600px;
  padding: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(233, 233, 233, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.tc-head-wrap{
  display: flex;
  justify-content: space-between;
}
.tc-close-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
}
.tc-close-btn i {
  font-size: 1.5rem;
  cursor: pointer;
}
.tc-title {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.9;
}
.tc-desc {
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: 400;
}
.tc-status {
  width: fit-content;
  padding: 5px 15px;
  background-color: #808080;
  color: #fff;
  font-size: 1rcap;
  border-radius: 5px;
}
.tc-due {
  margin-top: 0.3rem;
  width: fit-content;
  padding: 5px 15px;
  background-color: #808080;
  color: #fff;
  font-size: 1rcap;
  border-radius: 5px;
}
.tc-created {
  font-size: 1.2rcap;
  margin-top: 0.5rem;
}
