// FONTS
%tiktok-sans {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
}

%roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

%roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
%stack-sans-notch {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
%lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
// COLORS
$Primary-Cards-light: #f0f0f0;
$Primary-Cards-light-hover: #d2d2d2ec;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @extend %roboto;
  font-size: 1rem;
  font-weight: 400;
}
// NAVBAR
.navigation {
  position: sticky;
  top: 0;
}
.navbar {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.n-logo-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.1rem;
}
.nav-logo {
  width: 35px;
  height: 35px;
}
.n-l-t-c {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
}
.nav-logo-name {
  font-size: 1.1rem;
  font-weight: 500;
  @extend %roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-transform: uppercase;
}
.nav-logo-subname {
  font-size: 0.9rem;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items {
  display: flex;
  list-style-type: none;
  justify-content: start;
  align-items: center;
  margin-left: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.nav-lists {
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.nav-toggle-btns {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-toggle-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 0.5rem;
}
.nav-lists-t {
  font-size: 1rem;
  font-size: 400;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.nav-toggle {
  // color: ;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-toggle i {
  font-size: 1.5rem;
}
.nav-toggle.main {
  display: none;
}
// SIDEBAR
.sidebar {
  width: 350px;
  height: 100vh;
  position: fixed;
  right: 0;
  // top: 0;
  padding: 1rem;
  transform: translateX(120%);
  transition: 0.5s all ease-in-out;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: none;
}
.sidebar.open {
  transform: translateX(0);
}
.side-items {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 0.5rem;
  list-style: none;
  gap: 0.3rem;
}
.side-lists {
  width: 100%;
  padding: 1rem 0;
  padding-left: 0.7rem;
  border-radius: 5px;
  background-color: $Primary-Cards-light;
  transition: 0.2s all ease-in-out;
}
.side-lists:hover {
  background-color: $Primary-Cards-light-hover;
}
@media only screen and (max-width: 768px) {
  .nav-lists-t {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .nav-toggle.main {
    display: inline;
  }
  .sidebar {
    display: inline;
  }
}
@media only screen and (max-width: 415px) {
  .sidebar {
    width: 100%;
  }
}
